:root {
    --w-spacing-xs: 0.4em;
    --w-spacing-s: 0.6em;
    --w-spacing-m: 1em;
    --w-spacing-l: 1.2em;
    --w-spacing-xl: 1.6em;
    --w-spacing-xxl: 2em;

    --w-spacing--page--vertical-space: var(--w-spacing-m);
    --w-spacing--page--horizontal-space: var(--w-spacing-xxl);

    --w-border-width--thin: 1px;
}