@import "/libs/normalize.css";

@import "/css/colors.css";
@import "/css/icons.css";
@import "/css/spacing.css";
@import "/css/typography.css";

@import "/components/all.css";

html {
    height: 100%;
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}