:root {
    --w-brand--logo--height: 2.5em;
    --w-brand--logo--margin-right: var(--w-spacing-s);
    --w-brand--font-weight: var(--w-font-weight-text-semibold);

    --w-brand--contrast--color: var(--w-primary-text-color);
    --w-brand--contrast--hover--color: var(--w-primary-text-color-300);

    --w-brand--shaded--color: var(--w-text-color);
    --w-brand--shaded--hover--color: var(--w-text-color-500);
}