:root {
    --w-navbar--size-s--horizontal-padding: var(--w-spacing--page--horizontal-space);
    --w-navbar--size-s--vertical-padding: var(--w-spacing--page--vertical-space);

    --w-navbar--size-m--horizontal-padding: var(--w-spacing--page--horizontal-space);
    --w-navbar--size-m--vertical-padding: calc(var(--w-spacing--page--vertical-space) * 2);

    --w-navbar--contrast--background-color: var(--w-primary-color);
    
    --w-navbar--shaded--background-color: var(--w-background-color);
    --w-navbar--shaded--border-bottom--color: var(--w-background-color-800);
    --w-navbar--shaded--border-bottom--width: var(--w-border-width--thin);
}