:root {
    --w-fixed-header--article-max-width: var(--w-breakpoint-xxl);
    --w-fixed-header--spacing-s--horizontal-spacing: var(--w-spacing--page--horizontal-space);
    --w-fixed-header--spacing-s--vertical-spacing: var(--w-spacing--page--vertical-space);

    --w-fixed-header--spacing-m--horizontal-spacing: var(--w-spacing--page--horizontal-space);
    --w-fixed-header--spacing-m--vertical-spacing: calc(var(--w-spacing--page--vertical-space) * 2);
}