:root {
    --w-button--transition: all 100ms linear;

    --w-button--font-weight: var(--w-font-weight-text-semibold);
    --w-button--padding-left: var(--w-spacing-300);
    --w-button--padding-right: var(--w-spacing-800);
    --w-button--border-radius: var(--w-border-radius-100);
    --w-button--line-height: var(--w-inputs--size-m--height);

    --w-button--appearance-link--padding-left: var(--w-spacing-300);
    --w-button--appearance-link--padding-right: var(--w-spacing-300);

    --w-button--size-s--line-height: var(--w-inputs--size-s--height);
    --w-button--size-l--line-height: var(--w-inputs--size-l--height);

    /*
     * Default.
     */
    --w-button--color: var(--w-secondary-color);
    --w-butoon--border-color: var(--w-secondary-color--darker);
    --w-button--text--color: var(--w-secondary-color--darker--text-color);

    --w-button--hover--color: var(--w-secondary-color--darker);
    --w-button--hover--border-color: var(--w-secondary-color--darkest);
    --w-button--hover--text--color: var(--w-secondary-color--text-color);

    --w-button--appearance-outline--text-color: var(--w-secondary-color);
    --w-button--appearance-outline--hover--text-color: var(--w-secondary-color--darker);

    /*
     * Primary
     */
    --w-button--intent-primary--color: var(--w-primary-color);
    --w-butoon--intent-primary--border-color: var(--w-primary-color--darker);
    --w-button--intent-primary--text--color: var(--w-primary-color--text-color);
    --w-button--intent-primary--hover--color: var(--w-primary-color--darker);
    --w-button--intent-primary--hover--border-color: var(--w-primary-color--darkest);
    --w-button--intent-primary--hover--text--color: var(--w-primary-color--text-color);
    --w-button--intent-primary--appearance-outline--text-color: var(--w-primary-color);
    --w-button--intent-primary--appearance-outline--hover--text-color: var(--w-primary-color--darker);

    /*
     * Success
     */
    --w-button--intent-success--color: var(--w-success-color); 
    --w-butoon--intent-success--border-color: var(--w-success-color--darker); 
    --w-button--intent-success--text--color: var(--w-success-color--text-color);
    --w-button--intent-success--hover--color: var(--w-success-color--darker); 
    --w-button--intent-success--hover--border-color: var(--w-success-color--darkest); 
    --w-button--intent-success--hover--text--color: var(--w-success-color--text-color); 
    --w-button--intent-success--appearance-outline--text-color: var(--w-success-color); 
    --w-button--intent-success--appearance-outline--hover--text-color: var(--w-success-color--darker); 

    /*
     * Danger
     */
    --w-button--intent-danger--color: var(--w-danger-color);
    --w-butoon--intent-danger--border-color: var(--w-danger-color--darker);
    --w-button--intent-danger--text--color: var(--w-danger-color--text-color);
    --w-button--intent-danger--hover--color: var(--w-danger-color--darker);
    --w-button--intent-danger--hover--border-color: var(--w-danger-color--darkest);
    --w-button--intent-danger--hover--text--color: var(--w-danger-color--text-color);
    --w-button--intent-danger--appearance-outline--text-color: var(--w-danger-color);
    --w-button--intent-danger--appearance-outline--hover--text-color: var(--w-danger-color--darker);
}
