:root {
    --w-vertical-nav--contrast--color: var(--w-primary-text-color-500);
    --w-vertical-nav--contrast--hover--color: var(--w-primary-text-color-300);
    --w-vertical-nav--contrast--active--color: var(--w-primary-text-color-300);

    --w-vertical-nav--shaded--color: var(--w-text-color-300);
    --w-vertical-nav--shaded--hover--color: var(--w-text-color-500);
    --w-vertical-nav--shaded--active--color: var(--w-primary-color);
}