 :root {
  /*
   * Brand colors.
   */
  --w-primary-color: #4B61FF;
  --w-primary-color--lightest: #E8E9FE;
  --w-primary-color--lighter: #8294FF;
  --w-primary-color--darker: #3647BD;
  --w-primary-color--darkest: #2A3698;

  --w-secondary-color: #393939;
  --w-secondary-color--lightest: #666666;
  --w-secondary-color--lighter: #4d4d4d;
  --w-secondary-color--darker: #1a1a1a;
  --w-secondary-color--darkest: #000000;

  --w-accent-color: #FA4B6A;
  --w-accent-color--lightest: #FED2DF;
  --w-accent-color--lighter: #FCA5BF;
  --w-accent-color--darker: #D42B47;
  --w-accent-color--darkest: #B33559;

  --w-muted-color: #BDC7DB;
  --w-muted-color--lightest: #DEE3ED;
  --w-muted-color--lighter: #CED5E4;
  --w-muted-color--darker: #ADB8D2;
  --w-muted-color--darkest: #9CAAC9;

  --w-background-color: #F8F9FC; 
  --w-background-color--lightest: #FFFFFF;
  --w-background-color--lighter: #FFFFFF;
  --w-background-color--darker: #EDF0F7;
  --w-background-color--darkest: #DEE3EC;

  /*
   * Action colors.
   */
  --w-danger-color: #E61F00;
  --w-danger-color--lightest: #FA4D4D;
  --w-danger-color--lighter: #FA221A;
  --w-danger-color--darker: #CC1A00;
  --w-danger-color--darkest: #B31500;

  --w-success-color: #088001;
  --w-success-color--lightest: #0FB300;
  --w-success-color--lighter: #0B9901;
  --w-success-color--darker: #056601;
  --w-success-color--darkest: #034D00;

  --w-warning-color: #FBC966;
  --w-warning-color--lightest: #FDEDCC;
  --w-warning-color--lighter: #FCDB99;
  --w-warning-color--darker: #FBB54D;
  --w-warning-color--darkest: #FA9F19;

  --w-info-color: #2A3698;
  --w-info-color--lightest: #7B8BDC;
  --w-info-color--lighter: #4352CC;
  --w-info-color--darker: #2B3B92;
  --w-info-color--darkest: #2B3B92;
  

  /*
   * Text colors.
   */
  --w-text-color: #101840;
  --w-text-color--darker: #000000;

  --w-primary-color--text-color: var(--w-background-color);
  --w-primary-color--text-color--darker: var(--w-background-color--lightest);
  --w-primary-color--lightest--text-color: var(--w-text-color);
  --w-primary-color--lightest--text-color--darker: var(--w-text-color--darker);
  --w-primary-color--lighter--text-color: var(--w-text-color);
  --w-primary-color--lighter--text-color--darker: var(--w-text-color--darker);
  --w-primary-color--darker--text-color: var(--w-primary-color-text-color);
  --w-primary-color--darker--text-color--darker: var(--w-primary-text-color--darker);
  --w-primary-color--darkest--text-color: var(--w-primary-color-text-color);
  --w-primary-color--darkest--text-color--darker: var(--w-primary-text-color--darker);

  --w-secondary-color--text-color: var(--w-background-color);
  --w-secondary-color--text-color--darker: var(--w-background-color--lightest);
  --w-secondary-color--lightest--text-color: var(--w-background-color);
  --w-secondary-color--lightest--text-color--darker: var(--w-background-color--lightest);
  --w-secondary-color--lighter--text-color: var(--w-background-color);
  --w-secondary-color--lighter--text-color--darker: var(--w-background-color--lightest);
  --w-secondary-color--darker--text-color: var(--w-background-color);
  --w-secondary-color--darker--text-color--darker: var(--w-background-color--lightest);
  --w-secondary-color--darkest--text-color: var(--w-background-color);
  --w-secondary-color--darkest--text-color--darker: var(--w-background-color--lightest);

  --w-accent-color--text-color: var(--w-text-color);
  --w-accent-color--text-color--darker: var(--w-text-color--darker);
  --w-accent-color--lightest--text-color: var(--w-text-color);
  --w-accent-color--lightest--text-color--darker: var(--w-text-color--darker);
  --w-accent-color--lighter--text-color: var(--w-text-color);
  --w-accent-color--lighter--text-color--darker: var(--w-text-color--darker);
  --w-accent-color--darker--text-color: var(--w-text-color);
  --w-accent-color--darker--text-color--darker: var(--w-text-color--darker);
  --w-accent-color--darkest--text-color: var(--w-text-color);
  --w-accent-color--darkest--text-color--darker: var(--w-text-color--darker);

  --w-danger-color--text-color: var(--w-background-color);
  --w-danger-color--text-color--darker: var(--w-background-color--lightest);
  --w-danger-color--lightest--text-color: var(--w-background-color);
  --w-danger-color--lightest--text-color--darker: var(--w-background-color--lightest);
  --w-danger-color--lighter--text-color: var(--w-background-color);
  --w-danger-color--lighter--text-color--darker: var(--w-background-color--lightest);
  --w-danger-color--darker--text-color: var(--w-background-color);
  --w-danger-color--darker--text-color--darker: var(--w-background-color--lightest);
  --w-danger-color--darkest--text-color: var(--w-background-color);
  --w-danger-color--darkest--text-color--darker: var(--w-background-color--lightest);

  --w-success-color--text-color: var(--w-background-color);
  --w-success-color--text-color--darker: var(--w-background-color--lightest);
  --w-success-color--lightest--text-color: var(--w-background-color);
  --w-success-color--lightest--text-color--darker: var(--w-background-color--lightest);
  --w-success-color--lighter--text-color: var(--w-background-color);
  --w-success-color--lighter--text-color--darker: var(--w-background-color--lightest);
  --w-success-color--darker--text-color: var(--w-background-color);
  --w-success-color--darker--text-color--darker: var(--w-background-color--lightest);
  --w-success-color--darkest--text-color: var(--w-background-color);
  --w-success-color--darkest--text-color--darker: var(--w-background-color--lightest);

  --w-warning-color--text-color: var(--w-text-color);
  --w-warning-color--text-color--darker: var(--w-text-color--darker);
  --w-warning-color--lightest--text-color: var(--w-text-color);
  --w-warning-color--lightest--text-color--darker: var(--w-text-color--darker);
  --w-warning-color--lighter--text-color: var(--w-text-color);
  --w-warning-color--lighter--text-color--darker: var(--w-text-color--darker);
  --w-warning-color--darker--text-color: var(--w-text-color);
  --w-warning-color--darker--text-color--darker: var(--w-text-color--darker);
  --w-warning-color--darkest--text-color: var(--w-text-color);
  --w-warning-color--darkest--text-color--darker: var(--w-text-color--darker);

  --w-info-color--text-color: var(--w-background-color);
  --w-info-color--text-color--darker: var(--w-background-color--lightest);
  --w-info-color--lightest--text-color: var(--w-background-color);
  --w-info-color--lightest--text-color--darker: var(--w-background-color--lightest);
  --w-info-color--lighter--text-color: var(--w-background-color);
  --w-info-color--lighter--text-color--darker: var(--w-background-color--lightest);
  --w-info-color--darker--text-color: var(--w-background-color);
  --w-info-color--darker--text-color--darker: var(--w-background-color--lightest);
  --w-info-color--darkest--text-color: var(--w-background-color);
  --w-info-color--darkest--text-color--darker: var(--w-background-color--lightest);

 }