html {
    height: 100%;
}

html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;

    font-family: var(--w-font-family-text);
    font-weight: var(--w-font-weight-text-regular);
    font-size: var(--w-font-size-text-400);

    line-height: 1.3em;

    background-color: var(--w-background-color);
}

/*
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    margin: 1.2em 0 1em 0;
}

h1 {
    font-size: var(--w-font-size-text-800);
    font-weight: var(--w-font-weight-text-semibold);
}

h2 {
    font-size: var(--w-font-size-text-600);
    font-weight: var(--w-font-weight-text-semibold);
}

h3 {
    font-size: var(--w-font-size-text-500);
    font-weight: var(--w-font-weight-text-semibold);
}

h4 {
    font-size: var(--w-font-size-text-400);
    font-weight: var(--w-font-weight-text-semibold);
}

h5 {
    font-size: var(--w-font-size-text-400);
    font-weight: var(--w-font-weight-text-semibold);
    color: var(--w-muted-color);
}

h6 {
    font-size: var(--w-font-size-text-400);
    font-weight: var(--w-font-weight-text-regular);
    color: var(--w-muted-color);
    text-decoration: underline;
    
}

/*
 * Text content
 */
p {
    line-height: 1.5em;
}

code {
    font-family: var(--w-font-family-mono);
    font-weight: var(--w-font-weight-mono-regular);
    font-size: var(--w-font-size-mono-400);

    background-color: var(--w-background-color-700);
}

section > :first-child {
    margin-top: 0;
}

/* 
 * Tables
 */
table {
    width: 100%;
    border-spacing: 0;
}

thead tr {
    background-color: var(--w-background-color-500);
}

thead th,
tbody td {
    padding: var(--w-spacing-400);
    border: var(--w-border-width--thin) solid var(--w-background-color-800);
    text-align: left;
}

thead th {
    color: var(--w-muted-color);
    text-transform: uppercase;
}

thead th:not(:last-child) {
    border-right: none;
}

thead th:not(:first-child) {
    border-left: none;
}

tbody tr:not(:last-child) {
    border-bottom: none;
}